parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - 'tests/phpunit/TaintedPDO.php'
        - 'tests/phpunit/TaintedPDOStatement.php'
    ignoreErrors:
        # Required constructor argumens of ValueObjects are checked, see: checkRequiredProperties
        - '#Keboola\\DbExtractor\\Metadata\\ValueObject\\.* constructor expects string, string\|null given.#'
