parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - 'tests/phpunit/TaintedPDO.php'
        - 'tests/phpunit/TaintedPDOStatement.php'
    ignoreErrors:
        - '#Property Keboola\\DbExtractor\\Tests\\RetryTest::\$taintedPdo \(PDO\) does not accept null.#'
        - '#Offset .* does not exist on array\|null.#' # TODO remove
